/*レスポンシブ対応 1/11時点で全然できてないよ(^ω^)！！*/
@media screen and (min-width: 480px){
.accbox, .rates-s{
  display: none;
}
}
@media screen and (max-width: 480px){
html{
background-color: #fff;
}
body{
    /*width: 100vw;*/
  color: #333;
  font-size: 12px;
  text-size-adjust: 100%;
}
/*画像の設定*/
img {
display:block;
max-width: 100%;
height: auto;
}

h2{
    width: 100vw;
    font-size: 16px;
    margin-left: 0;
}
h3{
    width: 100vw;
    font-size: 15px;
}
p{
        width: 100vw;
    padding: 0;
    margin: 0;
}
.view{
        width: 100vw;
}
.gl-header, .gl-footer{
    /*width: 100%;*/
        width: 100vw;
    padding-left: 10px;
}
    /*非表示にするもの*/
.util-nav, .gl-nav, .breadcrumb, .gl-footer img ,.rates{
display: none;
}
/*画面サイズ狭く*/
main{
    width: 100vw;
  margin: 0 0 0 10px;
}
main, .contact-main, .form-box, .rates-main{
  /*max-width: 451px;*/
}
/*ヘッダー*/

/*ふっだー*/
.gl-footer{
    font-size: 14px;
}
.fot-logo{
    display: none;
}
/*各ページタイトル*/
.page-title{
margin: 10px 10px 10px 10px;
position: relative;
color: #f64233;
}
.page-title:after {
content: "";
display: block;
height: 4px;
background: linear-gradient(to right, rgb(246, 72, 57), transparent);
}
.page-title h2{
font-size: 24px;
margin: 0;
padding: 10px 20px 10px 3px;
}
.page-title+p{
    padding: 5px 10px 5px 10px;
}
/*お問い合わせページ*/
.contact-main{
    margin: 0;
    padding: 10px;
}
textarea{
  width: 300px;
  height: 200px;
}
.view p{
padding: 10px;
padding-right: 30px;
}
/*料金ページ*/
.rates-table, .rates-caution{
    padding-left: 0;
    width: 100vw;
}
.rates-table p, .rates-caution p{
padding: 0 30px 0 10px;
}
.rates-main h2{
width: 80%;
}
.rates-main p{
/*width: 350px;*/
    width: 100vw;
}
.rates-main table{
    width: 90vw;
}
.rates-caution{
    background-color: #fff;
    margin: 0;
}
/*自己紹介ページ*/
.about-content{
    /*width: 350px;*/
 width: 100vw;
    margin: 0;
    padding: 10px 10px 10px 0;
}
.my-photo, .my-text{
    width: 100vw;
}
.about-content-my{
    height: 320px;
}
.about-content-my h3{
    padding-left: 10px;
    font-size: 18px;
    margin-top: 0;
}
.my-photo{
    height: 270px;
    background: url(../images/photo_01.png) 50px -30px no-repeat;
}
.about-content-hs{
    width: 100vw;
    padding-bottom: 30px;
    border-bottom: 1px dotted #999;
}
.about-content-hs p, .my-text p{
    padding: 10px;
    margin-bottom: 0;
    /*border-top: 1px dotted #ddd;*/
padding: 0 30px 0 10px;
}
.about-content-sub{
    margin: 0;
    padding: 0;
    border: none;
}
.about-content-box-l, .about-content-box-r{
        float: none;
        margin: 0;
        padding: 0;
        width: 350px;
}
.about-content-box-r p{
    font-size: 15px;
padding: 0 30px 20px 10px;
    }
.about-content-box-l{
    display: none;
}
/*トップページ*/
.main{
    width: 100vw;
}
.hero{
    width: 100vw;
    height: 180px;
}
  .hero-img{
    width: 100vw;
  background: url(../images/hero_img_s.png) 0 0 no-repeat;
  }
.hero-sub, .hero-sub-box{
    margin-top: 30px;
    width: 100vw;
    height: 230px;
}
.about{
    height: 400px;

}
.about-box{
    width: 100vw;
padding: 10px;
margin: 30px 0;
}
.about-box h2{
        width: 90vw;
    font-size: 20px;
    }
.about-box p{
        width: 90vw;
    font-size: 15px;
    /*padding-right: 30px;*/
}
.more-s{
    margin-top: 20px;
}

.rates-s{
        width: 100vw;
      background-color: #ddd;
      font-size: 18px;
      line-height: 1.8;
      padding: 10px;
      margin: 20px 0;
}
.rates-s h2{
  margin: 0 0 20px 0;
  padding: 0;
}
.rates-s a{
  color: #333;
}
.rates-box-l-s{
  border-bottom: 3px dotted #fff;
  padding: 30px 10px;
  margin-bottom: 20px;
}
.rates-box-l-s h2, .rates-box-r-s h2{
  /* background-color: #888; */
  color: #666;
  padding: 10px 5px;
/*border-top: 5px solid #666;*/
border-bottom: 5px solid #fff;
}


.rates-s, .rates-box-l-s, .rates-box-r-s, .contact{
    width: 100vw;
}
.rates-box-l-s, .rates-box-r-s{
    width: 100vw;
    height: 250px;
    padding: 0;
float: none;
}
.rates-box-l-s{
    border-bottom: 3px dotted #fff;
}
.rates-box-l-s h2, .rates-box-r-s h2{
        width: 90vw;
    font-size: 22px;
    color: #333;
    border-bottom: 2px solid #bbb;
    }
.rates-box-l-s p, .rates-box-r-s p{
        width: 90vw;
    font-size: 15px;
    padding: 10px;
}
.contact-box{
    width: 90vw;
}
 .contact-box h2{
        width: 90vw;
    padding: 10px;
    font-size: 20px;
        }
.contact-box p{
    width: 90vw;
    padding: 10px;
    font-size: 15px;
    margin: 0;
}
.contact-button{
width: 180px;
height: 40px;
margin-top: 5px;
}

 /*実績*/
.ex-main{
        width: 10vw;
    padding: 10px;
}
.voice-box, .ex-works-txt{
        width: 90vw;
}
.voice-box p{
    display: none;
}
/*アコーディオンメニュー*/
.accbox {
    width: 100vw
    margin: 0;
    padding: 0;
    font-size: 14px;
    /*max-width: 400px;/*最大幅*/*/
}
.accbox a{
    display: block;
    color: #000;
    padding: 15px;
}
.accbox a:hover{
    color: #f64233;
}
/*ラベル*/
.accbox label {
    display: block;
    margin: 1.5px 0;
    padding : 13px 12px;
    color: #fff;
    font-weight: bold;
    background: #444;
    cursor :pointer;
    transition: all 0.5s;
}
.accbox ul li{
    /*margin: 10px;*/
    border-bottom: 1px dotted #fff;
}
.accbox input{
    margin: 0;
    padding: 0;
}
/*アイコンを表示*/
.accbox label:before {
    content: '\f054';
    font-family: 'FontAwesome';
    padding-right: 8px;
}

/*ラベルホバー時*/
.accbox label:hover {
    background :#444;
}

/*チェックは隠す*/
.accbox input {
    display: none;
}

/*中身を非表示にしておく*/
.accbox .accshow {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.cssacc:checked + label + .accshow {
    height: auto;
    padding: 5px;
    background: #ddd;
    opacity: 1;
}

.accbox .accshow p {
    margin: 15px 10px}

/*アイコンを入れ替える*/
.cssacc:checked + label:before {
    content: '\f078';
}
}