@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

*{
  margin: 0;
  padding: 0;
}
html{

}
body{
  font-family: 'Noto Sans JP','Noto Sans','Noto Sans TC';
  background-color: #444;
  color: #fff;
  font-size: 100%;
}
ul li{
  list-style-type: none;
}
main{
  width: 960px;
  margin: 0 auto;
}
.container{
  width: 960px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
.gl-header{
  /*width: 960px;*/
  /*width: 100%;*/
  height: 91px;
  border-bottom: 1px solid #fff;
  margin: 0 auto;
  /*background-color: #fda085;*/

  color: #fff;
}
.gl-title{
  width: 110px;
  height: 80px;
  position: relative;
  float: left;
}
.gl-title a {
  position: absolute;
  left: 20px;
  top: 10px;
  display: block;
  width: 110px; /*もとは110px*/
  height: 70px;
  background: url(../images/top-logo-w.png) no-repeat;
  text-indent: -9999px;
}
/*言語切替*/
.util-nav {
  float: right;
  margin-right: 30px;
  padding-bottom: 10px;
}
.util-nav ul {
  height: 37px;
  list-style-type: none;
  padding-top: 14px;
  text-align: center;
  display: table;
}
.util-nav li {
  display: table-cell;
  line-height: 1;
}
.util-nav li a {
  font-size: 12px;
  color: #fff;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #fff;
}
.util-nav li:first-child a {
  border: none;
}
.util-nav li a:hover {
  color: #ffe7c4;
  text-decoration: underline;
}
/*faccebook icon*/
.facebook {
  float: right;
  display: block;
  width: 40px;
  height: 40px;
  background: url("../images/facebook.png") 0 0 no-repeat;
  text-indent: -9999px;
}
.facebook:hover {
  background: url("../images/facebook.png") 0 0 no-repeat;
}
/*グローバルナビげーしょん*/
.nav-container{
width: 960px;
margin: 0 auto;
height: 90px;
  /*test 倍率下げるとくずれ、ひとまずOK*/ width: 70%;
}
.gl-nav ul {
  display: flex;
  /*margin-left: 10px;*/
}
.gl-nav li{
  text-align: center;
  margin: 45px 0px 20px 20px;
  padding: 0px 0px 0px 20px;
  /*border-left: 1px solid #fff;*/
  /*width: 95px;*/
}
.gl-nav li a{
  text-decoration: none;
  font-size: 16px;
/***以下アニメーション用*/
  position: relative;
  display: block;
  /*display: inline-block;*/
  text-decoration: none;
}
/*アニメーション用*/
.gl-nav li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background: #f85658;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
.gl-nav li a:hover::after {
  transform: scale(1, 1);
}
/***アニメーションおしまい*/
#current{
  text-decoration: underline;
}
.gl-nav li:first-child{
  border: none;
  margin-left: 50px;
}
a:link{
  color: #fff;
}
a:visited{
  color: #fff;
}
/*パンくずリスト*/
.breadcrumb{
height: 30px;
 /*margin: 10px auto;*/
}
.breadcrumb ul{
 display: flex;
}
.breadcrumb ul li{
 padding: 5px 0 0 15px;
}
.breadcrumb a{
  text-decoration: underline;
  }
/*topページ*/
/*section{
  border: 1px solid #dcdcdc;
}*/
.hero{
  height: 400px;
  background-color: #555;
  clear: both;
}
/*about*/
.about{
  clear: both;
  height: 400px;
  display: flex;
}
.about div:first-child{
  width: 70%;
  margin: 50px;
}
.about div:last-child{
  width: 30%;
  margin: 50px;
}
.about h2{
  background-color: #f85658;
}
/*news*/
.news{
  height: 400px;
  background-color: #555;
  display: flex;
}
.news div{
  width: 50%;
  padding: 50px;
}
.news h2{
  background-color: #f85658;
}
/*works*/
.works{
  height: 400px;
  display: flex;
}
.works div{
  width: 50%;
  padding: 50px;
}
.works h2{
  background-color: #f85658;
}
/*samples*/
.rates{
    height: 400px;
  display: flex;
  background-color: #555;
}
.rates div{
  width: 50%;
  padding: 50px;
}
.rates h2{
  background-color: #f85658;
}
/*contact*/
.contact{
  width: 960px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
}
.contact-box{
  width: 875px;
  height: 175px;
  border: 1px solid #fff;
  background-color: #ff5252;
  padding-top: 25px;
  margin: 45px auto;
  border-radius: 2px;
}
.contact-button{
  /*background-color: #fff;*/
  width: 220px;
  height: 46px;
  margin: 20px auto;
  border-radius: 2px;
}

/*自己紹介ページ*/
.about-content{
  width: 100%;
  float: left;
  margin: 20px 30px 20px 10px;
  line-height: 2;
}
.about-main h2{
  margin: 20px 0 20px 15px;
  padding: 5px 10px;
  background-color: rgba(246, 86, 88, 0.8 );
}
.about-content p{
  margin: 20px 0;
}

/****実績****/
.ex-main{
}
.ex-main h2{
  margin: 20px 0 20px 15px;
  padding: 5px 10px;
  background-color: rgba(246, 86, 88, 0.8 );
}
.ex-main h3{
    margin: 10px 0 0 15px;
}
/*h3の装飾テスト*/
h3:first-letter{
  font-size: 2em;
}
/*h3装飾おしまい*/
.ex-main p{
    margin: 10px 0 10px 15px;
}
.voice-box{
  width: 200px;
  height: 200px;
  border: 1px solid #ffe7c4;
  float: left;
  margin: 10px 15px 50px 15px;
  text-align: center;
  padding-top: 10px;
  position: relative;
  background-color: #ffe7c4;
  color: #333;
}
.voice-box-video{
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.ex-voice video{
  width: 200px;
  height: 126px;
}
.ex-movie{
  clear: both;
}
.ex-movie h3{
    margin: 10px 0 0 15px;
}
.mov-box{
  width: 450px;
  height: 250px;
  border: 1px solid #f85658;
  float: left;
  margin: 10px 10px 50px 15px;
  position: relative;
}
.mov-box-video{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.mov-box-txt{
  width: 50%;
  height: 100%;
  background-color: rgba(246, 86, 88, 0.8 ); /*#f85658の透明度調節*/
}
.mov-box-txt p{
  padding: 10px;
}
.mov-box video{
  width: 225px;
  height: 250px;
}
.ex-works{
  clear: both;
  margin: 0 15px;
}
.ex-works p::before{
  content: "■";
}
.ex-works-txt{
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: #555;
  border-radius: 3px;
}
/*料金とサービス*/
.rates-main{
}
.rates-main h2{
  margin: 20px 0 20px 15px;
  padding: 5px 10px;
  background-color: rgba(246, 86, 88, 0.8 );
}
.rates-main:first-child p{
    margin: 10px 0 30px 15px;
}
.rates-table{
    margin: 10px 0 50px 15px;
}
.rates-caution{
    margin: 10px 10px 10px 15px;
}
table{
  border-collapse: collapse;
  margin: 10px 0;
  width: 70%;
  /*border: 1px solid #555;*/
  background-color: rgba(246, 86, 88, 0.8 );
  table-layout: fixed;
}
table tr th{
  padding: 10px 10px;
  font-weight: normal;
  border: 2px dotted #555;
}
table tr td{
  padding: 5px 10px;
  border: 2px dotted #555;
  background-color: #ffe7c4;
  color: #333;
}
table caption{
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}
.rates-caution{
  width: 90%;
  padding: 20px 0 20px 20px;
  margin: 0 auto 30px auto;
  background-color: #666;
}
/*お問い合わせ*/
.contact-main h2{
  margin: 20px 0 20px 15px;
  padding: 5px 10px;
  background-color: rgba(246, 86, 88, 0.8 );
}
.contact-main{
  border-radius: 3px;
  height: 500px;
}
.contact-main p{
    margin: 10px 0 20px 15px;
    padding-left: 10px;
}
form{
  width: 85%;
  height: 400px;
  margin: 10px auto;
  font-size: 1.2em;
}
form p{
  position: relative;
}
input[type="text"]{
position: absolute;
top: 0;
left: 150px;
width: 300px;
height: 25px;
background-color: #ffe7c4;
}
form p{
  position: relative;
}
input[type="email"]{
  position: absolute;
top: 0;
left: 150px;
width: 500px;
height: 25px;
background-color: #ffe7c4;
}
form p{
  position: relative;
}
input[type="tel"]{
    position: absolute;
  top: 0;
left: 150px;
  width: 300px;
height: 25px;
background-color: #ffe7c4;
}
form p{
  position: relative;
}
textarea{
    position: absolute;
  top: 0;
left: 150px;
  width: 500px;
  height: 200px;
background-color: #ffe7c4;
}
input[type="submit"]{
  padding: 2px 5px;
}
/*experience*/
.ex-works{
font-size: 12px;
}


.pagetop a:hover{
  color: #b91515;
  text-decoration: underline;
}
/*footer*/

.gl-footer{
  clear: both;
  height: 150px;
  border-top: 1px solid #fff;
}
footer .container{
  position: relative;
}
.darth{
  width: 200px;
  height: 150px;
  background: url(../images/photo_04.png) 0 0 no-repeat;
  position: absolute;
  top: 0;
  left: 700px;
}
.fot-logo{
  float: left;
  margin-right: 15px;
  margin-top: 15px;
}
.foot{
  margin: 15px 10px 15px 0;
}
.copy{
  text-align: center;
}

/*その他*/
.shadow {
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}
