@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

*{
  margin: 0;
  padding: 0;
}
html{
background-color: #444;
}
body{
  font-family: 'Noto Sans JP','Noto Sans','Noto Sans TC';
  color: #333;
  font-size: 16px;
  background-color: #fff;
}
ul li{
  list-style-type: none;
}
h2{
  margin-top: 30px;
  padding: 10px 50px;
  color: #ff5252;
}
main{
  width: 1000px;
  margin: 0 auto;
  /*box-shadow: 0 0px 20px rgba(0,0,0,0.2);*/
}
.container{
  width: 1000px;
  height: 90px;
  margin: 0 auto;
  padding: 0;
}
a{
  text-decoration: none;
}
a:link{
  color: #fff;
}
a:visited{
  color: #fff;
}
.gl-header{
  height: 91px;
  /*border-bottom: 1px solid #fff;*/
  border-bottom: 1px solid #ff5252;
  margin: 0 auto;
  background-color: #444;
  color: #fff;
}
.gl-title{
  width: 150px;
  height: 90px;
  float: left;
  margin: 0;
}
.gl-title a {
  display: block;
  margin-top: 20px;
  width: 150px;
  height: 70px;
  background: url(../images/top-logo-wite.png) no-repeat;
    background-size: contain;
  text-indent: -9999px;
}
.gl-title a:hover{
    background: url(../images/top-logo-or.png) no-repeat;
    background-size: contain;
}
/*言語切替*/
.util-nav {
  float: right;
}
.util-nav ul {
  height: 37px;
  list-style-type: none;
  padding-top: 14px;
  text-align: center;
  display: table;
}
.util-nav li {
  display: table-cell;
  line-height: 1;
}
.util-nav li a {
  font-size: 12px;
  color: #fff;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #fff;
}
.util-nav li:first-child a {
  border: none;
}
.util-nav li a:hover {
  color: #ffe7c4;
  text-decoration: underline;
}
/*faccebook icon*/
.facebook{
  float: right;
  display: block;
  width: 32px;
  height: 32px;
  background: url("../images/facebook_hover.png") 0 0 no-repeat;
  background-size: contain;
  text-indent: -9999px;
}
.facebook:hover {
  background: url("../images/facebook.png") 0 0 no-repeat;
 background-size: contain;
}
/*グローバルナビげーしょん*/
.gl-nav-container{
margin: 0 auto;
height: 90px;
}
.gl-nav ul {
  display: flex;
  margin-left: 10px;
}
.gl-nav li{
  text-align: center;
  margin: 32px 0px 20px 20px;
  padding: 0px 0px 0px 20px;
}
.gl-nav li a{
  text-decoration: none;
/***以下アニメーション用*/
  position: relative;
  display: block;
  text-decoration: none;
}
/*アニメーション用*/
.gl-nav li a::after {
  position: absolute;
  top: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background: #ff5252;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
.gl-nav li a:hover::after {
  transform: scale(1, 1);
}
/***アニメーションおしまい*/
#current{
  color: #ff5252;
  font-weight: bold;
}
.gl-nav li:first-child{
  border: none;
  margin-left: 50px;
}

/*パンくずリスト*/
.breadcrumb{
height: 30px;
padding-left: 0;
background-color: #fff;
}
.breadcrumb ul{
 display: flex;
 margin: 0;
 /*padding-left: 20px;*/
}
.breadcrumb ul li{
 padding-left: 15px;
}
.breadcrumb ul :first-child{
 padding-left: 0;
}
.breadcrumb a{
  text-decoration: underline;
  color: #f64233;
  }
/*topページ*/
.hero{
  height: 500px;
  clear: both;
  }
  .hero-img{
    height: 500px;
    width: 1000px;
    margin: 0 auto;
  background: url(../images/hero_orange.png) 0 0 no-repeat;
  }
.hero-sub{
  height: 200px;
  background-color: #ddd;
  }
.hero-sub-box{
    width: 1000px;
    height: 100%;
  text-align: center;
  margin: 0 auto;
}
.hero-sub h2{
  margin-top: 0px;
  padding-top: 50px;
}
/*about*/
.about{
  height: 400px;
}
.about-box{
   width: 1000px;
   height: 100%;
    margin: 0 auto;
  display: flex;
}
.about-box h2{
  margin: 0 0 20px 0;
  padding: 0;
}
.about-box p{
  font-size: 16px;
  line-height: 2;
}
.about-box span{
  font-size: 20px;
}
.about a{
color: #333;
display: block;
text-align: right;
margin-right: 50px;
}
.about-box-l{
  width: 70%;
  margin: 50px 30px 50px 50px;
}
.about-box-r{
  width: 30%;
  margin: 50px 0;
}
/*news*/
/*.news{
  height: 400px;
  background-color: #ddd;
}
.news h2{
  margin: 0 0 20px 0;
  padding: 0;
}
.news-box dl dt{
  line-height: 2;
}
.news-box{
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.news a{
color: #333;
}
.news-box-l, .news-box-r{
  width: 50%;
  padding: 50px;
}*/
/*works*/
.works{
  height: 400px;
  background-color: #ddd;
}
.works h2{
  margin: 0 0 20px 0;
  padding: 0;
}
.works-box{
  display: flex;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.works-box-l, .works-box-r{
  width: 50%;
  padding: 50px 30px 50px 50px;
}
.works a{
color: #333;
}
/*samples*/
.rates{
    height: 400px;
}
.rates h2{
  margin: 0 0 20px 0;
  padding: 0;
}
.rates-box{
  width: 1000px;
  height: 100%;
  display: flex;
  margin: 0 auto;
}
.rates a{
  color: #333;
}
.rates-box-l, .rates-box-r{
  width: 50%;
  padding: 50px;
}
/*contact*/
.contact{
  height: 270px;
  margin: 0 auto;
  text-align: center;
}
.contact-box{
  width: 800px;
  height: 200px;
  background-color: #f64233;
  padding-top: 25px;
  margin: 45px auto;
  border-radius: 10px;
}
.contact h2{
  color: #fff;
  margin: 0;
  }
  .contact p{
    margin-top: 10px;
    color: #fff;
  }
    .contact a{
      color: #333;
  }
.contact-button{
  width: 220px;
  height: 46px;
  margin: 20px auto;
  border-radius: 3px;
  background-color: #ffe7c4;
}
/*各ページタイトル*/
.page-title{
margin: 10px 40px;
position: relative;
color: #f64233;
font-size: 36px;
font-weight: bold;
}
.page-title:after {
content: "";
display: block;
height: 4px;
background: linear-gradient(to right, rgb(246, 72, 57), transparent);
}
.page-title h2{
font-size: 36px;
margin: 0;
padding: 5px 10px 5px 0;
}
.page-title+p{
    padding: 0 0 10px 50px;
}
/*自己紹介ページ*/
.about-content{
  padding: 20px 50px;
  line-height: 1.8;
}
.about-content-hs{
  /*margin: 0 30px;*/
}
.about-main h2{
  padding: 10px 50px;
  font-size: 2.3em;
  color: #f85658;
  letter-spacing: 2.5px;
}
.about-content-my{
  display: flex;
}
.about-content-my p{
margin: 10px 0 0;
padding-right: 10px;
}
.my-text{
  float: left;
  width: 60%;
  border-bottom: 1px dashed #ddd;
}
.my-photo{
  float: right;
}
.my-photo img{
  opacity: 0.8;
}
.about-content-sub{
margin: 20px;
border-top: 1px dashed #ccc;
}
.about-content-sub p{
  padding: 10px 20px;
}
.about-content-box-l{
width: 35%;
float: left;
padding: 20px 0 0 30px;
}
.about-content-box-r{
width: 60%;
float: right;
line-height: 1.8;
}
.about-content-box-r hr{
  display:block;
  width: 90%;
  height: 1px;
  border: 0;
  border-top: 1px dashed #cccccc;
  margin: 0 auto;
}
/****実績****/
.ex-main{
  padding: 20px 50px;
}
.ex-main h3{
  text-align: center;
  border-bottom: 2px dotted #888;
}
/*h3の装飾テスト*/
.ex-main h2{
  padding-left: 0px;
}
.ex-main h2+p{
    padding: 0 10px 30px 0;
}
.ex-main h3:first-letter,.ex-movie h3:first-letter, .ex-works h3:first-letter{
  font-size: 1.6em;
}
/*h3装飾おしまい*/
.ex-main p{
    margin: 10px 0 10px 5px;
}
/*悩んでいる*/
.voice-box{
  display: flex;
  width: 450px;
  height: 200px;
  border: 1px solid #ff5252;
  border-top-width: 5px;
  border-radius: 3px;
  float: left;
  margin: 30px 0px 50px 0;
  text-align: center;
  padding-top: 10px;
  color: #333;
  padding-left: 0;
}
.voice-box-video{
  width: 100%;
  height: 60%;
}
.ex-voice video{
  width: 250px;
  height: 150px;
  border: 1px solid #ddd;
}
/*悩んでいるおしまい*/

.ex-movie{
  clear: both;
  margin-bottom: 50px;
}
.mov-box{
  width: 894px;
  height: 300px;
  border: 1px solid #ff5252;
    border-left-width: 5px;
  border-radius: 5px;
  margin: 30px auto;
  position: relative;
}
.mov-box-video{
  position: absolute;
  width: 50%;
  top: 10px;
  left: 425px;
}

.mov-box-txt{
  width: 50%;
  height: 100%;
}
.mov-box-txt p{
  margin: 0;
  padding: 30px 30px 10px 30px;
}
.mov-box-txt p span{
}
.mov-box video{
  width: 415px;
  height: 280px;
  border: 1px solid #333;
  background-color: #333:
}
.ex-works{
  clear: both;
}
.ex-works p::before{
  content: "■";
}
.ex-works-txt{
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
}
/*アコーディオンメニュー*************************************************************************/
.accbox {
    margin: 2em 0;
    padding: 0;
    max-width: 900px;/*最大幅*/
}
/*ラベル*/
.accbox label {
    display: block;
    margin: 1.5px 0;
    padding : 13px 12px;
    color: #fff;
    font-weight: bold;
    background: #333;
    cursor :pointer;
    transition: all 0.5s;
}
/*アイコンを表示*/
.accbox label:before {
    content: '\f054';
    font-family: 'FontAwesome';
    padding-right: 8px;
}
/*ラベルホバー時*/
.accbox label:hover {
    background :#888;
}
/*チェックは隠す*/
.accbox input {
    display: none;
}
/*中身を非表示にしておく*/
.accbox .accshow {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}
/*クリックで中身表示*/
.cssacc:checked + label + .accshow {
    height: auto;
    padding: 5px;
    background: #ddd;
    opacity: 1;
}
.accbox .accshow p {
    margin: 15px 10px}
/*アイコンを入れ替える*/
.cssacc:checked + label:before {
    content: '\f078';
}


/*料金とサービス*/

.rates-table{
    padding: 10px 0 5px 50px;
}
.rates-table h3{
  margin-top: 30px;
  padding: 0 0 0 10px;
  border-left: solid 7px #f64233;
  border-radius: 20px;
}
table{
  border-collapse: collapse;
  margin: 10px 0 2px 0;
  width: 70%;
  /*border: 1px solid #555;*/
  table-layout: fixed;
}
table tr th{
  padding: 10px 10px;
  font-weight: normal;
  border: 1px solid #555;
}
table tr td{
  padding: 5px 10px;
  border: 1px solid #555;
  text-align: center;
}
table caption{
  text-align: left;
  font-weight: bold;
}
.rates-caution{
  padding: 20px 0 20px 50px;
  margin: 50px auto 30px auto;
  background-color: #ffe7c4;
}

/*お問い合わせ*/
.contact-main{
    padding: 20px 50px;
}
.contact-main p{
    margin: 10px 0;
}
.form-box{
  margin: 30px 0;
}
form{
  font-weight: normal;
}
input[type="text"],input[type="tel"]{
  width: 200px;
  height: 24px;
}
input[type="email"]{
  width: 300px;
  height: 24px;
}
.btn-default{
background-color: #ff5252;
color: #fff;
}

textarea{
  width: 500px;
  height: 200px;
}
.page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #ef3f40;
  opacity: 0.6;
  border-radius: 50%;
}
.page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
.page_top a::before{
  font-family: FontAwesome;
  content: '\f0d8';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
/*footer*/

.gl-footer{
  clear: both;
  height: 150px;
  border-top: 2px solid #f64233;
  background-color: #444;
  color: #fff;
}
.footer-container{
  width: 1000px;
  margin: 0 auto;
}
.gl-footer p{
  padding: 10px 0 0 0;
}
.fot-logo{
  float: right;
  margin-top: 0;
}
.foot{
  float: left;
}
.copy{
  float: left;
}

/*その他*/
.shadow {
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}
