@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

*{
  margin: 0;
  padding: 0;
}
html{
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
body{
  /*font-family: 'Noto Sans JP','Noto Sans','Noto Sans TC';*/
  color: #333;
}
ul li{
  list-style-type: none;
}
main{
  width: 960px;
  margin: 0 auto;
}
.container{
  width: 960px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
.gl-header{
  /*width: 960px;*/
  /*width: 100%;*/
  height: 91px;
  border-bottom: 1px solid #333;
  margin: 0 auto;
  background-color: #fda085;
  /*background: linear-gradient(#fda085, #fdc385);*/
  color: #000;
}
.gl-title{
  width: 110px;
  height: 80px;
  position: relative;
  float: left;
}
.gl-title a {
  position: absolute;
  left: 20px;
  top: 10px;
  display: block;
  width: 110px;
  height: 70px;
  background: url(../images/top-logo.png) no-repeat;
  text-indent: -9999px;
}
/*言語切替*/
.util-nav {
  float: right;
  margin-right: 30px;
  padding-bottom: 10px;
}
.util-nav ul {
  height: 37px;
  list-style-type: none;
  padding-top: 14px;
  text-align: center;
  display: table;
}
.util-nav li {
  display: table-cell;
  line-height: 1;
}
.util-nav li a {
  font-size: 12px;
  color: #666;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #666;
}
.util-nav li:first-child a {
  border: none;
}
.util-nav li a:hover {
  color: #f64233;
  text-decoration: underline;
}
/*faccebook icon*/
.facebook {
  float: right;
  display: block;
  width: 40px;
  height: 40px;
  background: url("../images/facebook.png") 0 0 no-repeat;
  text-indent: -9999px;
}
.facebook:hover {
  background: url("../images/facebook.png") 0 0 no-repeat;
}
/*グローバルナビげーしょん*/
.nav-container{
width: 960px;
margin: 0 auto;
height: 90px;
  /*test 倍率下げるとくずれ、ひとまずOK*/ width: 70%;
}
.gl-nav ul {
  display: flex;
  /*margin-left: 10px;*/
}
.gl-nav li{
  text-align: center;
  margin: 45px 0px 20px 20px;
  padding: 0px 0px 0px 20px;
  border-left: 1px solid #666;
  /*width: 95px;*/
}
.gl-nav li a{
  text-decoration: none;
  font-size: 16px;
/***以下アニメーション用*/
  position: relative;
  display: block;
  /*display: inline-block;*/
  text-decoration: none;
}
/*アニメーション用*/
.gl-nav li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background: #fff;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
.gl-nav li a:hover::after {
  transform: scale(1, 1);
}
/***アニメーションおしまい*/
#current{
  text-decoration: underline;
}
.gl-nav li:first-child{
  border: none;
  margin-left: 50px;
}
a:link{
  color: #333;
}
a:visited{
  color: #333;
}
/*パンくずリスト*/
.breadcrumb{
height: 30px;
 /*margin: 10px auto;*/
 background-color: #bbb;
}
.breadcrumb ul{
 display: flex;
}
.breadcrumb ul li{
 padding: 5px 0 0 15px;
}
.breadcrumb a{
  text-decoration: underline;
  }
/*topページ*/
/*section{
  border: 1px solid #dcdcdc;
}*/
.hero{
  width: 960px;
  height: 400px;
  /*background-color: #dcdcdc;*/
  clear: both;
  margin: 0 auto;
    /*text-indent: -9999px;*/
}
/*about*/
.about{
  clear: both;
  width: 960px;
  height: 400px;
  margin: 0 auto;
}
/*news*/
.news{
  width: 960px;
  height: 400px;
  background-color: #dcdcdc;
  margin: 0 auto;
}
/*works*/
.works{
  width: 960px;
  height: 400px;
  margin: 0 auto;
  }
/*samples*/
.samples{
  width: 960px;
  height: 400px;
  background-color: #dcdcdc;
  margin: 0 auto;
}
/*contact*/
.contact{
  width: 960px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
}
.contact-box{
  width: 875px;
  height: 175px;
  background-color: #dcdcdc;
  padding-top: 25px;
  margin: 45px auto;
  border-radius: 2px;
}
.contact-button{
  width: 220px;
  height: 46px;
  background-color: #fff;
  margin: 20px auto;
  border-radius: 2px;
}

/*自己紹介ページ*/
.about-main{
  width: 960px;
  margin: 10px auto;
}
.about-content{
  width: 100%;
  font-size: 14px;
  float: left;
  margin: 20px 10px;
/*  padding: 10px 30px 10px 10px;
*/}
/*.about-sub{
  width: 20%;
  height: 250px;
  float: right;
  /*border: 1px solid #444;*/
  margin-bottom: 10px;
/*}*/

/****実績****/
.ex-main{
width: 960px;
  margin: 20px auto;
}
.ex-main h2{
  margin: 30px 0 30px 15px;
}
.voice-box{
  width: 200px;
  height: 200px;
  border: 2px solid #444;
  float: left;
  margin: 10px 15px 50px 15px;
  text-align: center;
  padding-top: 10px;
  position: relative;
}
.voice-box-video{
  width: 100%;
  height: 60%;
  background-color: #444;
  border: 2px solid #444;
  position: absolute;
  bottom: -2px;
  left: -2px;
}
.ex-voice video{
  width: 200px;
  height: 126px;
}
.ex-movie{
  clear: both;
}
.mov-box{
  width: 450px;
  height: 250px;
  border: 2px solid #444;
  float: left;
  margin: 10px 10px 50px 15px;
  position: relative;
}
.mov-box-video{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #444;
}
.mov-box-txt{
  width: 50%;
  height: 100%;
}
.mov-box-txt p{
  padding: 10px;
}
.mov-box video{
  width: 225px;
  height: 250px;
}
.ex-works{
  clear: both;
  margin: 0 15px;
}
.ex-works-txt{
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: #dcdcdc;
  border-radius: 3px;
}
/*料金とサービス*/
.rates-main{
  width: 700px;
  padding: 10px 20px;
  float: left;
}
table{
  border-collapse: collapse;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #666;
}
table tr th{
  padding: 5px 10px;
  font-weight: normal;
  border: 1px solid #666;
}
table tr td{
  padding: 5px 10px;
  border: 1px solid #666;
}
table caption{
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}
/*お問い合わせ*/
.contact-main{
  width: 960px;
  margin: 20px auto;
}
.contact-main p{
margin: 10px 0 10px 5px;
}
input[type="text"]{
width: 200px;
}
input[type="email"]{
width: 300px;
}
input[type="tel"]{
  width: 200px;
}
textarea{
  width: 425px;
  height: 120px;
}
input[type="submit"]{
  padding: 2px 5px;
}
/*experience*/
.ex-works{
font-size: 12px;
}


.pagetop a:hover{
  color: #f64233;
  text-decoration: underline;
}
/*footer*/

.gl-footer{
  clear: both;
  height: 150px;
  border-top: 1px solid #444;
  background-color: #fda085;
  /*background: linear-gradient(#fda085, #fdc385);*/
  color: #000;
}
footer .container{
  position: relative;
}
.darth{
  width: 200px;
  height: 150px;
  background: url(../images/photo_04.png) 0 0 no-repeat;
  position: absolute;
  top: 0;
  left: 700px;
}
.fot-logo{
  float: left;
  margin-right: 15px;
  margin-top: 15px;
}
.foot{
  margin: 15px 10px 15px 0;
}
.copy{
  text-align: center;
}

/*その他*/
.shadow {
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}
